:root {
  /* Defining Accenture color palette */
  --acn-main-purple: #A100FF;
  --acn-dark-purple: #7500C0;
  --acn-darkest-purple: #460073;
  --acn-light-purple: #C2A3FF;
  --acn-lightest-purple: #E6DCFF;
  --acn-light-gray: #F1F1EF;
  --acn-gray: #CFCFCF;
  --acn-dark-gray: #818180;
  /* Defining some custom colors for nuance */
  --charcoal-black: #141414;
  --darker-charcoal: #0d0d0d;
  --dark-purple-modal: #1d0f28;
  --very-dark-purple: #160d1e;
}
/* test6 */